<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="../client.js"></script>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="../styles/main.css" charset="utf-8">
  <title>GONG</title>
</head>
<body>
  <!-- <h1>Hi {{name}}</h1> -->
  <button type="button" class="play" name="timer">Start</button>

<p>
  Stop button does not currently 'stop' anything
</p>
</body>
</html>
