<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="../client.js"></script>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="../styles/main.css" charset="utf-8">
  <title>GONG</title>
</head>
<body>

  <header>
    <h1>GONG</h1>
    <a href="/login/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
  </header>
  <section class="timer">

    <img class="gong" src="../styles/gong-instrument.svg"</img>


    <i class="fa fa-play-circle" aria-hidden="true"></i> <!-- play-->
    <i class="fa fa-pause-circle-o" aria-hidden="true"></i> <!-- pause-->
  </section>

  <section class="duration-picker">
      <div class="row">
      <div class= "three columns"
      <p class="duration"</p>
      <button type="button" class="button-up">up</button>
      <button type="button" class="button-down">down</button>
    </div>

  </section>

</body>
</html>
